body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(207, 240, 158);
}


table#game td {
    background-color:darksalmon;
    height: 100px;
    width: 100px;
    border: solid black 5px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 30pt;
    cursor: pointer;  
}

button#restart {
    padding: 8px;
    background-color: lightslategray;
    font-size: 20pt;
    color: white;
    border-radius: 15px;
}